@import url('https://fonts.googleapis.com/css2?family=Commissioner&display=swap');

body {
  font-family: 'Commissioner',sans-serif;
    background-color: #f3f4f6;
}

.btn{
  background-color: hsl(176, 72%, 28%);
}

.btn1{
  background-color: hsl(176, 50%, 47%);
}

.desc{
  color : hsl(176, 72%, 28%);
}

.mastercraft{
  position : absolute;
  left : 50%;
  top : -16%;
  transform : translateX(-50%);
}

.data >article:last-child h3{
  color: #9b9b9b;
}

.data >article:last-child p.desc-inner{
  color: #9b9b9b;
}

.data > article:last-child button{
  background-color: #9b9b9b;
}